{% extends 'base/base.html' %}

{% block title %}Create new Post{% endblock %}

{% block content %}
    <div style="margin-top: 70px">
    <h1>Create new Post</h1>
    {% if status == 'creating' %}
    <form action="." method="post">
        {% for filed in post_form %}
            <div class="row">
            <div class="col-sm-4">{{ filed.label }}:</div><div class="col-sm-4">{{ filed }}</div>
            </div><br>
        {% endfor %}
        {% csrf_token %}
        <p><input type="submit" value="Create new Post"></p>
    </form>
    {% else %}
        <div class="card-header py-3">
            Вы успешно создали новую вакансию
        </div>
    {% endif %}
    </div>

{% endblock %}
